.primary-nav{
    
 &--pull-right{
        float: right;
        display: inline-block;
    }
    
    ul{
        margin: -5%;
        padding: 0;
        float: right;
    }
    
    li {
        list-style: none;
        float: left;
        padding-right: 20px;
        
    }
    
      a {
        color: $mainGrey;
        text-decoration: none;
        font-weight: 300;
        display: block;
        font-size: 1.5rem;
    }
    
       a:hover {
        color: $mainOrange;
    }
    
}